
 
$color-primary: rgba(54, 212, 6, 0.83);
$color-primary-light-1:rgba(232, 216, 22, 0.81);  
$color-primary-light-2:#ffb74d;
$color-light-blue-1: #40c4ff; 
$color-light-blue-2: #80d8ff;
$color-grey-light:#f4eeee;
$color-grey-dark-2:#777;
$color-grey-dark-3:#999;
$color-grey-dark-1:#333;  
