*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  font-family: 'Roboot', sans-serif; }

body {
  background-image: linear-gradient(to right bottom, rgba(54, 212, 6, 0.83), rgba(232, 216, 22, 0.81));
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover; }

.container {
  background: #fff;
  width: 80%;
  height: 55rem;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 4px;
  margin-top: 8rem;
  display: flex;
  overflow: hidden;
  position: relative; }

.btn {
  background: transparent;
  border: none;
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #333;
  font-weight: 100;
  transition: all 0.3s; }
  .btn-spin {
    margin-top: 2rem; }
  .btn-hold {
    margin: 2rem 0; }
  .btn-icons {
    width: 1rem;
    height: 1rem;
    color: rgba(54, 212, 6, 0.83);
    margin-right: 0.8rem;
    transition: all 0.3s; }
  .btn:hover .btn-icons {
    margin-right: 1.5rem; }
  .btn:hover {
    cursor: pointer; }
  .btn:focus {
    outline: none; }

.dice-1,
.dice-2 {
  box-shadow: 0 10px 6rem rgba(0, 0, 0, 0.1);
  position: absolute; }

.dice-icon-1,
.dice-icon-2 {
  width: 10rem;
  height: 10rem; }

.dice-1 {
  top: 15%; }

.dice-2 {
  top: 40%; }

.player_active {
  color: #f44336; }

.active-icon::after {
  content: "";
  background: #40c4ff;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  transform: translateX(1rem); }

.win-score {
  margin-top: auto;
  align-self: center; }
  .win-score__value {
    padding: 4px;
    border-radius: 100px;
    border: none;
    border: 1px solid #000;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #333;
    text-align: center;
    letter-spacing: 3px; }
    .win-score__value:focus {
      outline: none; }

.player-1,
.player-2 {
  width: 50%;
  height: 100%; }

.player-1,
.player-2 {
  background: #f4eeee;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem; }
  .player-1__identity,
  .player-2__identity {
    font-size: 4rem;
    text-transform: uppercase;
    margin: 1rem 0;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
    letter-spacing: 3px;
    display: flex;
    align-items: center; }
  .player-1__score,
  .player-2__score {
    font-size: 8rem;
    font-weight: 200;
    letter-spacing: 3px;
    color: rgba(54, 212, 6, 0.83);
    font-family: 'Roboto', sans-serif; }
  .player-1__reward,
  .player-2__reward {
    display: flex;
    margin-top: auto;
    flex-direction: column;
    align-items: center;
    width: 6rem;
    padding: 1rem 7rem;
    background: #40c4ff; }
    .player-1__reward-heading,
    .player-2__reward-heading {
      color: #333;
      font-size: 2rem;
      font-weight: 300;
      letter-spacing: 2px;
      margin-bottom: 0.6rem; }
    .player-1__reward-score,
    .player-2__reward-score {
      color: white;
      font-size: 5rem;
      font-family: 'Montserrat', sans-serif; }

.player-2 {
  background: #fff; }

.operate {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  height: 100%;
  align-items: center; }

/*# sourceMappingURL=style.css.map */
